/* Navbar.css */

.main {
  background-color: #212121; /* Dark background */
  padding: 0;
  margin: 0;
  position: sticky;
  top: 0px;
  z-index: 1;
}

.main ul {
  list-style-type: none; /* Remove bullets */
  margin: 0;
  padding: 0;
  display: flex; /* Horizontal layout */
  justify-content: center; /* Center items */
}

.main li {
  padding: 14px 20px;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.main li:hover {
  background-color: #575757; /* Hover effect */
}